body {
    background-color: rgb(243, 238, 219);
}

.page_header {
    background-color: maroon;
    text-align: center;
    margin: 10px 20px;
}

.header-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
}

.list-table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;

    tr {
        text-align: left;
        background-color: white;
    }
    tr:nth-child(even){background-color: lightgray}

    td {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.list-header-row {
    text-align: left;
}

.list-header {
    font-size: 80px;
    background-color: maroon;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.delete-btn {
    font-size: 50px;
    border: none;
    background-color: transparent;
    color: maroon;
    padding: auto;
}

.input-div {
    display: grid;
    row-gap: 20px;
}

.input-label {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box {
    font-size: 40px;
    width: 300px;
    margin: 0px 15px;
    background-color: rgb(233, 233, 233);
}

.btn-div {
    text-align: center;
}

.add-btn {
    font-size: 50px;
    background-color: maroon;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}