body {
    background-color: rgb(243, 238, 219);
  }
  
  .page_header {
    background-color: maroon;
    text-align: center;
    margin: 10px auto;
  }
  
  .header-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
  }
  
  .list-table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  
    tr {
        text-align: left;
        background-color: white;
    }
    tr:nth-child(even){background-color: lightgray}
  
    td {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
  }
  
  .list-header-row {
    text-align: left;
  }
  
  .list-header {
    font-size: 25px;
    background-color: maroon;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  
  .delete-btn {
    font-size: 50px;
    border: none;
    background-color: transparent;
    color: maroon;
    padding: auto;
    cursor: pointer;
  }
  
  .newItemForm {
    display: table;
  }
  
  .inputs-div {
    row-gap: 20px;
  }
  
  .input-div {
    display: table-row;
    margin-bottom: 5px;
  }
  
  .input-label {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    text-align: right;
  }
  
  .input-box {
    font-size: 30px;
    width: 180px;
    margin: 0px 15px;
    background-color: rgb(233, 233, 233);
    display: table-cell;
  }
  
  .btn-div {
    text-align: center;
    display: table-row;
  }
  
  .add-btn {
    font-size: 30px;
    background-color: maroon;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .add-btn:hover {
    font-size: 30px;
    background-color: rgb(80, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
  }
  
  @media screen and (min-width: 900px) {
    .header-text {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5rem;
    }
  
    .list-table {
        border-collapse: collapse;
        width: 100%;
        margin: auto;
    
        tr {
            text-align: left;
            background-color: white;
        }
        tr:nth-child(even){background-color: lightgray}
    
        td {
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
  
    .list-header {
        font-size: 40px;
        background-color: maroon;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }
  
    .input-label {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .input-box {
        font-size: 30px;
        width: 250px;
        margin: 0px 15px;
        background-color: rgb(233, 233, 233);
    }
  }